.productContainer {
  text-align: justify;
  margin-bottom: 10px; }

.productTitle {
  text-align: left;
  font-size: 1.3em; }

.productDetails {
  margin-top: 30px; }

.productDescription {
  margin-bottom: 10px; }
